In [1]:
import json
import pandas as pd
import requests as rq
from datetime import datetime as dt

In [24]:
#url = "https://api.aviationapi.com/v1/weather/metar?apt=SLC,DEN"
url = "http://api.open-notify.org/iss-now.json"

In [25]:
response = rq.get(url)
data = response.json()
df = pd.json_normalize(data)

In [26]:
df.head(20)

    timestamp  message iss_position.longitude iss_position.latitude
0  1678644490  success               168.1631               19.0802

In [27]:
 print(json.dumps(data, indent=4))

{
    "timestamp": 1678644490,
    "message": "success",
    "iss_position": {
        "longitude": "168.1631",
        "latitude": "19.0802"
    }
}

In [30]:
df.columns = ['timestamp'
             ,'message'
             ,'iss_longitude'
             ,'iss_latitude']
df.head()

    timestamp  message iss_longitude iss_latitude
0  1678644490  success      168.1631      19.0802

In [31]:
df.dtypes

timestamp         int64
message          object
iss_longitude    object
iss_latitude     object
dtype: object

In [32]:
df['timestamp'] = df['timestamp'].astype("datetime64[s]")
df.head()

            timestamp  message iss_longitude iss_latitude
0 2023-03-12 18:08:10  success      168.1631      19.0802

In [40]:
ts = df['timestamp'].iloc[0]
print(ts)

2023-03-12 18:08:10