In [78]:
import json
import pandas as pd
import glob
import os

In [79]:
files = glob.glob("/tmp/iss_*.json")

In [80]:
df = []
for f in files:
    j = pd.read_json(f, lines=True)
    df.append(j)
df = pd.concat(df)
df.reset_index(inplace=True, drop=True)

In [81]:
df

,timestamp,message,iss_position
0,2023-03-12 18:30:14,success,"{'longitude': '-133.5447', 'latitude': '-43.17..."
1,2023-03-12 18:29:32,success,"{'longitude': '-136.4576', 'latitude': '-41.71..."
2,2023-03-12 18:29:53,success,"{'longitude': '-135.0539', 'latitude': '-42.43..."

In [82]:
df = (pd.DataFrame(df['iss_position'].values.tolist())
        .add_prefix('iss_')
        .join(df.drop('iss_position', axis=1)))

In [85]:
df = df[['timestamp','message','iss_longitude','iss_latitude']]
df

            timestamp  message iss_longitude iss_latitude
0 2023-03-12 18:30:14  success     -133.5447     -43.1773
1 2023-03-12 18:29:32  success     -136.4576     -41.7136
2 2023-03-12 18:29:53  success     -135.0539     -42.4384

In [89]:
df.to_csv('/tmp/iss_loc.csv', index=False, mode='w')